# ---------------------------------------------------------------------------- #
# Configuration for Traefik v3.
#
# Dynamic configuration
# No restart required if any change in this section.
# ---------------------------------------------------------------------------- #
http:
  middlewares:
# ---------------------------------------------------------------------------- #
#               ------- Crowdsec --------
# ---------------------------------------------------------------------------- #
    crowdsec-bouncer:
      plugin:
        bouncer:
          enabled: true
          defaultDecisionSeconds: 60
          crowdsecMode: live
          crowdsecAppsecEnabled: true # <--- here you can enable appsec waf
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          crowdsecLapiKey:
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          crowdsecLapiTLSInsecureVerify: false
          forwardedHeadersTrustedIPs:
            # private class ranges
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
          clientTrustedIPs:
            # private class ranges
            - 192.168.0.0/16

# ---------------------------------------------------------------------------- #
#               ------- Other --------
# ---------------------------------------------------------------------------- #
#TODO middleware ip-whitelist
#    ip-whitelist:
#      ip-whitelist:
#        sourceRange:
#          - "192.168.68.10"
