---
services:
  postgres:
    container_name: freshrss-postgres
    env_file: config/.env.db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${FRESHRSS_DB_USER}"]
      interval: 20s
      timeout: 15s
      retries: 3
      start_period: 60s
      start_interval: 5s
    hostname: freshrss-postgres
    image: ${DEFAULT_POSTGRES_IMAGE}
    logging:
      driver: json-file
      options:
        max-file: 2
        max-size: 5m
    networks:
      internal-net:
        ipv4_address: ${FRESHRSS_DB_IP}
    restart: unless-stopped
    stop_grace_period: 30s
    volumes:
      - ./postgres-persistence:/var/lib/postgresql/data
      
  freshrss:
    container_name: freshrss
    depends_on:
      postgres:
        condition: service_healthy
    dns:
      - 127.0.0.1
      - ${DNS_SERVER_1}
      - ${DNS_SERVER_2}
    env_file: config/.env
    hostname: freshrss
    image: ${FRESHRSS_IMAGE}
    labels:
      - "traefik.enable=true"
      # Routers
      - "traefik.http.routers.freshrss.entrypoints=web-external,websecure-external"
      - "traefik.http.routers.freshrss.rule=Host(`news.${DOMAIN}`)"
      - "traefik.http.routers.freshrss.tls=true"
      # - "traefik.http.routers.freshrss.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.freshrss.tls.domains[0].main=news.${DOMAIN}"
      - "traefik.http.routers.freshrss.service=freshrss"
      # Services
      - "traefik.http.services.freshrss.loadbalancer.server.port=80"
    logging:
      driver: json-file
      options:
        max-file: 5
        max-size: 10m
    networks:
      internal-net:
        ipv4_address: ${FRESHRSS_INTERNAL_IP}
      proxy-net:
        ipv4_address: ${FRESHRSS_IP}
    ports:
      - 80
    restart: unless-stopped
    stop_grace_period: 30s
    volumes:
      - ./persistence:/config

networks:
  internal-net:
    name: internal-freshrss
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${FRESHRSS_NET}
          gateway: ${FRESHRSS_GATEWAY}
  proxy-net:
    external: true
    name: traefik-net
