# https://github.com/mathesar-foundation/mathesar
services:
  pkms-db:
    container_name: mathesar-pkms-postgres
    env_file: config/.env.pkms.db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${MATHESAR_PKMS_DB_USER}"]
      interval: 20s
      timeout: 15s
      retries: 3
      start_period: 60s
      start_interval: 5s
    hostname: mathesar-pkms-postgres
    image: ${DEFAULT_POSTGRES_IMAGE}
    logging:
      driver: json-file
      options:
        max-file: 2
        max-size: 5m
    networks:
      internal-net:
        ipv4_address: ${MATHESAR_PKMS_DB_IP}
    restart: unless-stopped
    stop_grace_period: 30s
    volumes:
      - ./pkms-db-persistence:/var/lib/postgresql/data

  db:
    container_name: mathesar-postgres
    env_file: config/.env.db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${MATHESAR_DB_USER}"]
      interval: 20s
      timeout: 15s
      retries: 3
      start_period: 60s
      start_interval: 5s
    hostname: mathesar-postgres
    image: ${MATHESAR_POSTGRES_IMAGE}
    logging:
      driver: json-file
      options:
        max-file: 2
        max-size: 5m
    networks:
      internal-net:
        ipv4_address: ${MATHESAR_DB_IP}
    restart: unless-stopped
    stop_grace_period: 30s
    volumes:
      - ./db-persistence:/var/lib/postgresql/data

  mathesar:
    container_name: mathesar
    depends_on:
      pkms-db:
        condition: service_healthy
      db:
        condition: service_healthy
    dns:
      - 127.0.0.1
      - ${DNS_SERVER_1}
      - ${DNS_SERVER_2}
    env_file: config/.env
    healthcheck:
      test: curl -f http://localhost:8000
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 5s
    image: ${MATHESAR_IMAGE}
    labels:
      - "traefik.enable=true"
      # Routers
      - "traefik.http.routers.mathesar.entrypoints=web-external,websecure-external"
      - "traefik.http.routers.mathesar.rule=Host(`mathesar.${DOMAIN}`)"
      - "traefik.http.routers.mathesar.tls=true"
      # - "traefik.http.routers.mathesar.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.mathesar.tls.domains[0].main=mathesar.${DOMAIN}"
      - "traefik.http.routers.mathesar.service=mathesar"
      # Services
      - "traefik.http.services.mathesar.loadbalancer.server.port=8000"
    logging:
      driver: json-file
      options:
        max-file: 5
        max-size: 10m
    networks:
      internal-net:
        ipv4_address: ${MATHESAR_INTERNAL_IP}
      proxy-net:
        ipv4_address: ${MATHESAR_IP}
    ports:
      - 8000
    restart: unless-stopped
    stop_grace_period: 30s
    volumes:
      - ./persistence/static:/code/static
      - ./persistence/media:/code/media

networks:
  internal-net:
    name: internal-mathesar
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${MATHESAR_NET}
          gateway: ${MATHESAR_GATEWAY}
  proxy-net:
    external: true
    name: traefik-net
