# https://github.com/ellite/Wallos
services:
  wallos:
    container_name: wallos
    dns:
      - 127.0.0.1
      - ${DNS_SERVER_1}
      - ${DNS_SERVER_2}
    env_file: config/.env
    image: ${WALLOS_IMAGE}
    labels:
      - "traefik.enable=true"
      # Routers
      - "traefik.http.routers.wallos.entrypoints=web-external,websecure-external"
      - "traefik.http.routers.wallos.rule=Host(`wallos.${DOMAIN}`)"
      - "traefik.http.routers.wallos.tls=true"
      # - "traefik.http.routers.wallos.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.wallos.tls.domains[0].main=wallos.${DOMAIN}"
      - "traefik.http.routers.wallos.service=wallos"
      # Services
      - "traefik.http.services.wallos.loadbalancer.server.port=80"
    logging:
      driver: json-file
      options:
        max-file: 5
        max-size: 10m
    networks:
      proxy-net:
        ipv4_address: ${WALLOS_IP}
    ports:
      - 80/tcp
    restart: unless-stopped
    stop_grace_period: 30s
    volumes:
      - ./persistence/db:/var/www/html/db
      - ./persistence/logos:/var/www/html/images/uploads/logos

networks:
  proxy-net:
    external: true
    name: traefik-net
